{% extends 'base.html' %}

{% load static %}

{% block title %}Accueil de l'utilisateur{% endblock %}

{% block content_title %}
    <h1>Bienvenue sur la page d'accueil</h1>
{% endblock %}

{% block user_profile %}
    <img src="{% static 'images/utilisateur.png' %}" alt="Profile Icon" class="profile-icon" onclick="toggleMenu()">
    <div class="dropdown-menu" id="dropdownMenu">
        <p>Bienvenue, <strong>{{ user.username }}</strong></p>
        <a href="/parametres">Paramètres</a>
        <a href="/history">Historique</a>
        <a href="/login_page">Déconnexion</a>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
<form action="{% url 'view_scraping_user' %}" method="POST">
    <div class="form-link">
        <input type="url" id="link" name="link" placeholder="https://example.com" required>
    </div>

    {% csrf_token %}

    <div class="form-group">
        <label for="convertion">
            Conversion en texte
            <input type="checkbox" id="convertion" name="convertion">
        </label>
    </div>

            <div class="form-group">
                <label for="language">Langue préférée
                    {% include "../components/select.html" with name="language" list=LANGUAGES %}
                </label>
            </div>

            <div class="form-group">
                <label for="contraste">
                    Mise en contraste
                    {% include "../components/select.html" with name="contraste" list=COLORS %}
                </label>
            </div>
    <div class="form-group">
        <label for="constraste">
            Mise en contraste
            <input type="checkbox" id="constraste" name="constraste">
        </label>
    </div>

    <button type="submit">Envoyer</button>
</form>

    </div>
    
    {% if contenu %}
    <div class="output">
        {% for element in contenu %}
            <p><strong>{{ element.name }}</strong>: {{ element.text }}</p>
        {% endfor %}
    </div>
    {% else %}
        <div class="output">
            <p>Aucun résultat à afficher</p>
        </div>
    {% endif %}

</div>
{% endblock %}
