{% extends 'base.html' %}
{% block title %}Page d'Accueil{% endblock %}
{% block content_title %}
    <h1>Bienvenue sur la page d'accueil</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
<form action="{% url 'view_scraping' %}" method="POST">
    <div class="form-link">
        <input type="url" id="link" name="link" placeholder="https://example.com" required>
    </div>
    {% csrf_token %}
    <div class="form-group">
        <label for="convertion">
            Conversion en texte
            <input type="checkbox" id="convertion" name="convertion">
        </label>
    </div>
            <div class="form-group">
                <label for="language">Langue préférée
                    {% include "../components/select.html" with name="language" list=LANGUAGES %}
                </label>
            </div>
            <div class="form-group">
                <label for="contraste">
                    Mise en contraste
                    {% include "../components/select.html" with name="contraste" list=COLORS %}
                </label>
            </div>

    <button type="submit">Envoyer</button>
</form>
    </div>
   
    {% if contenu %}
    <div class="output">
        {{ contenu }}
    </div>
    {% else %}
        <div class="output">
            <p>Aucun résultat à afficher</p>
        </div>
    {% endif %}
</div>
{% endblock %}