{% extends 'base.html' %}  
{% block title %}Paramètres{% endblock %}  

{% block content_title %}Paramètres{% endblock %} 

{% block content %}
    <div>
        <form action="/ma-page-de-traitement" method="post">
            <ul>
              <li>
                <label for="mail">Email</label>
                <input type="email" id="mail" name="user_mail" />
              </li>
              <li>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="user_password" />
              </li>
              <li>
                <label for="language">Language par défaut</label>
                {% include "../components/select.html" with name="language" list=LANGUAGES %}
              </li>
              <li>
                <label for="constrast">Contraste</label>
                {% include "../components/select.html" with name="contraste" list=COLORS %}
              </li>
              <li>
                <label for="textmode">Mode texte seulement</label>
                <input type="checkbox" id="textmode" name="textmode"/>
              </li>
            </ul>
          </form>          
    </div>
{% endblock %}