{% extends 'base.html' %}  
{% load static %}
{% block title %}Paramètres{% endblock %}  

{% block content_title %}Paramètres{% endblock %} 

{% block logo_link %}{% url 'view_acceuil_user' %}{% endblock %}

{% block user_profile %}
    <img src="{% static 'images/utilisateur.png' %}" alt="Profile Icon" class="profile-icon" onclick="toggleMenu()">
    <div class="dropdown-menu" id="dropdownMenu">
        <p>Bienvenue, <strong>{{ user.username }}</strong></p>
        <a href="/parametres">Paramètres</a>
        <a href="/history">Historique</a>
        <a href="/login_page">Déconnexion</a>
    </div>
{% endblock %}

{% block content %}
    <div class="form-container form-large">
        <form action="{% url 'user_settings' %}" method="post">
    {% csrf_token %}
    <ul>
        <li class="form-group">
            <label for="mail">Email : </label>
            <input type="email" id="mail" name="user_mail" value="{{ user.email }}" />
        </li>
        <li class="form-group">
            <label for="password">Mot de passe : </label>
            <input type="password" id="password" name="user_password" />
        
    </ul>
    <button type="submit">Valider</button>
</form>
       
    </div>
{% endblock %}