{% extends 'base.html' %}  
{% load static %}
{% block title %}Paramètres{% endblock %}  

{% block content_title %}Paramètres{% endblock %} 

{% block logo_link %}{% url 'view_acceuil_user' %}{% endblock %}

{% block user_profile %}
    <img src="{% static 'images/utilisateur.png' %}" alt="Profile Icon" class="profile-icon" onclick="toggleMenu()">
    <div class="dropdown-menu" id="dropdownMenu">
        <p>Bienvenue, <strong>{{ user.username }}</strong></p>
        <a href="/parametres">Paramètres</a>
        <a href="/history">Historique</a>
        <a href="/login_page">Déconnexion</a>
    </div>
{% endblock %}

{% block content %}
    <div class="form-container form-large">
        <form action="/ma-page-de-traitement" method="post">
            <ul>
              <li class="form-group">
                <label for="mail">Email : </label>
                <input type="email" id="mail" name="user_mail" />
              </li>
              <li class="form-group">
                <label for="password">Mot de passe : </label>
                <input type="password" id="password" name="user_password" />
              </li>
              <li class="form-group">
                <label for="language">Language par défaut : </label>
                {% include "../components/select.html" with name="language" list=LANGUAGES %}
              </li>
              <li class="form-group">
                <label for="constrast">Contraste : </label>
                {% include "../components/select.html" with name="contraste" list=COLORS %}
              </li>
              <li class="form-group">
                <label for="textmode">Mode texte seulement : </label>
                <input type="checkbox" id="textmode" name="textmode"/>
              </li>
            </ul>
            <button type="submit">Valider</button>
          </form>          
    </div>
{% endblock %}