{% load static %} <!-- Ajoute cette ligne pour charger le tag static -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SEER{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% block logo_link %}{% url 'view_accueil' %}{% endblock %}">
                <img src="{% static 'images/seer_logo.png' %}" alt="SEER Logo">
            </a>
        </div>

        <div class="user-profile">
            {% block user_profile %}
                <img src="{% static 'images/utilisateur.png' %}" alt="Profile Icon" class="profile-icon" onclick="toggleMenu()">
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="/login_page">Connexion</a>
                </div>
            {% endblock %}
        </div>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
